@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url(https://autofutebolismo.files.wordpress.com/2015/03/grenal.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    justify-content: space-between;
    margin: 400px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0;

}

.title {
    position: absolute;
    top: 1%;
    left: 41%;

    display: flex;
    text-align: center;

    font-size: 3em;
    margin-bottom: 100px;

    background: linear-gradient(to right, #0000ff, #ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 2px 2px 4px #030000;
}

.subtitle {
    position: absolute;
    top: 10%;
    left: 35%;

    display: flex;
    text-align: center;

    font-size: 2em;
    margin-bottom: 20px;

    color: #fff;
    text-shadow: 3px 3px 4px #000000;
}

.gremio {
    position: absolute;
    top: 20%;
    left: 3%;

    width: 600px;
    padding: 15px;
    margin: 20px;

    font-size: 1em;
    font-weight:100;
    color: #0c0a0a;

    background-color: #1d2bf8;
    border: 2px solid #333;
    border-radius: 10px;
}

.gremio p {
    text-align: justify;
    margin-top: 0;
}

.internacional {
    position: absolute;
    top: 20%;
    right: 3%;

    width: 600px;
    padding: 15px;
    margin: 20px;

    font-size: 1em;
    font-weight: 100;
    color: #0c0a0a;

    background-color: #fc0c0c;
    border: 2px solid #333;
    border-radius: 10px;
}

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    

    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    text-align: center;

    background-color: #111;
    border-top: 2px solid #333;
}

.navegacao {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    margin-top: 10px;
}

.navegacao h2 {
    margin: 0;
    font-size: 1.2em;
}

.navegacao ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
}

.navegacao a {
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.link-gremio {
    color: #1d2bf8; 
}

.link-gremio:hover {
    color: #0a0f91;
    text-decoration: underline;
}


.link-inter {
    color: #fc0c0c; 
}

.link-inter:hover {
    color: #8b0000;
    text-decoration: underline;
}

.foto-gremio {
    position: absolute;
    top: 27%;
    left: 23%;

    display: flex;
    justify-content: center;

    width: 200px;
    height: 130px;

    transform: scale(1.5);
    margin: 9px 0 10px;
    border-radius: 10%;

    z-index: 2;
}

.foto-internacional {
    position: absolute;
    top: 27%;
    right: 8%;

    display: flex;
    justify-content: center;

    width: 200px;
    height: 130px;

    transform: scale(1.5);
    margin: 9px 0 10px;
    border-radius: 10%;

    z-index: 2;
}

.gremio-brasileiro {
    border-radius: 10%;
}

.logo-gremio,
.logo-internacional {
    width: 120px;
    height: 120px;
}